body {
    background-color: aliceblue;
    text-align: center;
    color: blueviolet;

}

label {
    display:run-in;
    text-align: center;
}

p {
    font-style: italic;
}

#response {
    color: forestgreen;
}

#error {
    color: red;

}

input[type="date"], select, input[type="button"]{
    background-color:white;
    border-radius: 10px;
    border: 5px solid magenta;
}
div {
    border: 5px solid magenta;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;

  }