body {
    background-color:aliceblue;
    text-align: center;


}

label{
    display: list-item;
    text-align: center;
}
p{
    font-style: italic;
}
#response{
    color: forestgreen;
}
#error{
    color: red;

}