body {
    background-color: aliceblue;
    text-align: center;
    color: blueviolet;

}

label {
    display: list-item;
    text-align: center;
}

p {
    font-style: italic;
}

#response {
    color: forestgreen;
}

#error {
    color: red;

}

input[type="date"], select{
    background-color:magenta;
}
