body {
  background-color: whitesmoke;
  text-align: center;
  color: darkviolet;
}
div {
  border: 1px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.class-div-1 {
  background-color: lightblue;
}
li {
  display: inline-block;
  width: 10%;
}
#error {
  color: magenta;
  font-weight: bold;
}
button {
  border: 2px solid magenta;
  border-radius: 15px;
  width: 10%;
  padding: 15px 25px;
  box-shadow: 0 9px #999;
}
